<footer class="bg-dark text-center p-4">
  <p class="text-justify">
    Esta aplicación es un ejemplo de cómo utilizar Node.js y Express para
    desarrollar aplicaciones web. Node.js proporciona un entorno de ejecución en
    el lado del servidor que permite construir aplicaciones escalables y
    eficientes, mientras que Express simplifica el enrutamiento y la gestión de
    solicitudes HTTP. Además, la interfaz de usuario está estilizada con
    Bootstrap, un marco de CSS que facilita la creación de diseños
    responsivos.
  </p>
</footer>
